
.contenedorGlobalCiencia {
    position: relative;
    height: 100vh;
    z-index: 1; /* Asegura que el contenido esté sobre la capa transparente */
}

.contenedorGlobalCiencia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/FondoProfesionales/f3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    opacity: 0.7; /* Ajusta la transparencia aquí */
    z-index: -1; /* Envía la capa detrás del contenido */
}


.conteiner-ff{
    background-color: yellow;
}
.contenedorDatos{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-general{
    /* background-color: teal; */
    width: auto;
}
#tituloJuego{
    color: #141412a4;
}
#tiempo-juego{
    color: #141412a4;
    font-weight: bold;
}
#texto-informacion{
    font-weight: bold;
    color: #0a0a0a;
}
#juego-terminado-texto{
    color: #e62908e1;
}

#preguntas-ciencia{
    margin-top: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    color: #0f0f0fee;
}

#botton-Verificar{
    font-size: 16px;
    width: 350px;
    margin-top: 10px;
}



@media screen and (max-width:480px) {
    #img-preguntas{
        max-width: 50px;
        max-height: 50px;
        background-color: orange;
        padding: 0px;
        margin: 0px -10px;
        
    }
    #tituloJuego{
        font-size: 35px;
        color: #eaeff3e7;
        text-shadow: 1px 1px 10px #0a0a0a;
       
    }
    #tiempo-juego{
        color: #eaeff3e7;
        text-shadow: 1px 1px 10px #0a0a0a;
        font-weight: bold;
    }
    #preguntas-ciencia{
        margin-top: 5px;
        font-size: 25px;
        color: #eef0f3;
        text-shadow: 1px 1px 10px #080808;
    }
    #texto-informacion{
        font-size: 20px;
        color: #eaeff3e7;
        text-shadow: 1px 1px 10px #0a0a0a;
        
    }
    .contenedor-img > p{
       font-size: 10px;
       
    }
    #botton-Verificar{
        font-size: 14px;
        width: 200px;
    }
    .contenedorGlobalCiencia{
      
        
        height: 100vh;
    }
    #juego-terminado-texto{
        color: #f8f1f0fb;
    }
}