.contenedor-educacion{
    background-image: url("../../img/FondoProfesionales/f7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: yellow; */
    height: 100%;
}

.titulo-educacion{
    color: rgb(240, 224, 9);
    text-shadow: 1px 1px 1px #0c0b0b;
  
}
.descripcion-educacion{
    color: #f3edf1;
    text-shadow: 1px 1px 1px #0c0b0b;
}

@media screen and (max-width:480px) {
    #contenedor-educacion-g{
        /* background-color: olive; */
        height: 100%;
    }
    .titulo-educacion{
        color: rgb(240, 224, 9);
        text-shadow: 1px 1px 1px #0c0b0b;
      
    }
    .descripcion-educacion{
        color: #f1e7e7f5;
        text-shadow: 1px 1px 1px #080808;
    }
    
}