/* Header.css */
.Nav-header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  position: relative;
}

.titulo-header{
    font-size:20px;
}

.logo-principal {
  display: flex;
  align-items: center;
}
.logo-principal > a {
    text-decoration: none;
    
  }
.hamburger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.enlaces-pagina {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.enlaces-pagina a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.Nav-buscador {
  display: flex;
  align-items: center;
  position: relative;
}

.Nav-buscador img {
  position: absolute;
  left: 13px;
}

.Nav-buscador input {
  padding: 12px 50px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.enlaces-pagina > a {
    text-decoration: none;
    margin: 0px 20px;
    color: black;
    position: relative; /* Necesario para posicionar el pseudo-elemento */
    font-size: 15px;
}

.enlaces-pagina > a::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Posición en la parte inferior */
    left: 0;
    width: 0%; /* Ancho inicial */
    height: 4px; /* Altura del "borde" */
    background-color: #D19E66; /* Color del "borde" */
    transition: width 0.5s ease; /* Animación suave */
}

.enlaces-pagina > a:hover::after {
    width: 100%; /* Expande el "borde" al 100% del ancho */
}




/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
  .hamburger-menu {
    display: block;
  }

  .enlaces-pagina {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  .enlaces-pagina > a{
    padding-left: 0px;
    margin: 0px 0px;
  }

  .enlaces-pagina.open {
    display: flex;
  }

  .Nav-buscador {
    margin-top: 10px;
    width: 100%;
  }

  .Nav-buscador input {
    width: 100%;
  }
  .Nav-header {
        
        padding: 14px 0px;
        
    }
    .logo-principal > a {
        font-size: 20px;
        text-decoration: none;
    }
    .logo-principal > img{
        
    }
}
