.FondoCarrusel-Banner{
    background-image: url("../../img/fondos/FondoC2.png");
    height: 739px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px 0px;
}
.FondoCarrusel-Banner > div{
    /* background-color: orange; */
    position: absolute;
    bottom: 100px;
    left: 125px;
    height: auto;
    width: 600px;
}
.FondoCarrusel-Banner > div > h1{
    color: #6de708;
    font-size: 54px;
    margin-bottom: 20px;
    /* background-color: #D19E66; */
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(247, 247, 7);
}
.titulo{
    color: #fff;
}

.FondoCarrusel-Banner > div > p{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    color: #0f0f0fe7;
    text-transform: uppercase;
    
}

/**/

.titulo-juego-educativo{
    text-align: center;
    margin-top: 40px;
  }
.contenedor-titulos{
    /* background-color: olivedrab; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.contenedor-titulos > h1{
   color: #24e00bfb;
   border-bottom: 2px solid #f7260a;
   width: auto;
   font-size: 32px;
   text-shadow: 2px 2px 2px rgb(5, 5, 5);
   /* background-color: aqua; */
  }
.seccion-juego{
    color: #24e00bfb;
}

.contenedor-juegos-educativos{
    background-image: url("../../img/fondos/fondoJuegosGeneral.jpg");
    padding: 80px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.juego-div{
    /* background-color: orange; */
    width: 382px;
    height: 380px;
    text-align: center;
    margin-bottom: 50px;
}
.juego-div > p{
    padding: 25px 0px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(5, 5, 5);
}
.titulo-juego{
    color: #24e00bfb;
}
.button-jugar-educativos{
    padding: 12px 30px;
    background-color: #148605fb;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.button-jugar-educativos:hover{
    background-color: black;
}

/*JUEGOS DE MEMORIA*/

.contenedor-memorama{
    background-image: url("../../img/fondos/fondoJuegosGeneral.jpg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 85px;
}
.contenedor-memorama > div > img{
    width: 400px;
}
.informacion-memorama{
    padding-left: 30px;
    height: 450px;
    /* background-color: #4617ED; */
    
   
}
.informacion-memorama > h4{
    margin-bottom: 25px;
    font-size: 36px;
    color: #D19E66;
    
}
.informacion-memorama > p{
    margin-bottom: 30px;
    line-height: 1.4;
    font-size: 20px;
    text-align: justify;
}


.subcontenedor-memorama{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.subcontenedor-memorama > img{
    width: 150px;
}
.contenedor-check{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}


.subcontenedor-memorama > div > div{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-bottom: 5px;

}


.subcontenedor-memorama > div > div > img{
    width: 30px;
    margin-right: 10px;
}
.subcontenedor-memorama > div > div > p{
    font-size: 15px;
}



@media screen and (max-width:480px) {
    
    .FondoCarrusel-Banner{
        background-position: -400px 0px;
    }
    .FondoCarrusel-Banner > div > h1{
        font-size: 47px;
    }
    .FondoCarrusel-Banner > div{
        position: absolute;
        bottom: 60px;
        left: 20px;
        height: auto;
        width: 334px;
    }
    .contenedor-juegos-educativos{
        padding: 0px;
        padding-top: 10px;
    }
    .contenedor-memorama{
        display: flex;
        flex-direction: column;
    }
    .contenedor-memorama > div > img{
        width: 300px;
    }
    .informacion-memorama{
        padding-left: 0px;
        
    }
    .informacion-memorama > p{
       
        line-height: 1.7;
        font-size: 12px;
    }
    .subcontenedor-memorama{
        flex-direction: column;
    }
    .subcontenedor-memorama > img{
        width: 210px;
        height: 150px;
    }
    .contenedor-check{
        padding-top: 10px;
    }
    .subcontenedor-memorama > div > div > img{
        width: 15px;
        margin-right: 10px;
    }
    .subcontenedor-memorama > div > div > p{
        font-size: 12px;
    }
    .juego-div > img{
        /* background-color: orange; */
        width: 300px;
        height: 300px;
        text-align: center;
        margin-bottom: 0px;
    }
    .juego-div > p{
        padding: 10px 0px;
    }
    .contenedor-titulos > h1 {
        font-size: 18px;
        text-align: center;
    }
    .button-memorama{
        margin-left: 50px;
    }
    #juegos-didacticos-cognitivos{
        /* background-color: #ccee0b; */
        margin-top: 391px;
    }
}

