.container-preguntas{
    background-image: url("../../img/FondoProfesionales/18.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgb(230, 233, 236);
}


.fondo-pregunta-juego{
    display: flex;
    justify-content: center;
    justify-content: center;
}
.fondo-pregunta-juego > p{
    background-color: rgba(27, 26, 24, 0.623);
    width: 500px;
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;

}

.container-preguntas > h1{
    color: #fff;
    text-shadow: 1px 1px 10px #000000fd;
}

@media screen and (max-width:480px) {
    .container-preguntas{
    
        height: auto;
    
    }
}