.math-game-container {
  background-image: url("../../img/FondoProfesionales/f15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}


  .card {
    border: 2px solid #ffd700;
  }
  .titulo-mate{
    color: #fff;
    text-shadow: 1px 1px 10px #161616;
  }
  
  #text-info {
    color: #fff !important;
    text-shadow: 1px 1px 10px #161616;
    font-size: 1.8rem;
    font-weight: bold
  }
  
  .btn {
    transition: transform 0.2s;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  
  input {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  .dsdsds{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.contenedorgeneral-matematicas{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-matematicas-block{
  background-color: #0e0e0f5d;
  width: 500px;
}