
.container-multijuegos {
    position: relative;
    height: 100vh;
    z-index: 1; /* Asegura que el contenido esté sobre la capa transparente */
}

.container-multijuegos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/FondoProfesionales/f6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    opacity: 0.8; /* Ajusta la transparencia aquí */
    z-index: -1; /* Envía la capa detrás del contenido */
}
.contenedorJuegoMulti{
    width: 400px;
    
}
.multijuego-div{
    margin: 0px;
    /* background-color: yellow; */
}
.textmulti{
    color: #ffffff;
    text-shadow: 1px 1px 5px #0a0a0af3;
}


@media screen and (max-width:480px) {
    .container-multijuegos{
        background-position: 0px 0px;
        height: auto;
    }
    .contenedorJuegoMulti{
        width: auto;
    }
}