.puzzle-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 1px;
    margin: 0 auto;
    width: auto;
    border: 2px solid #ccc;
  }
  
  .puzzle-slot {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    position: relative;
  }
  
  .pieces-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .puzzle-piece {
    width: 100px;
    height: 100px;
    background-size: 300px 300px;
    cursor: grab;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
.reference-image{
    width: 250px;
}  

.imagenes-defecto{
  width: 110px;
  height: 100px;
}



.container-rompecabezas{
  background-image: url("../../img/FondoProfesionales/f4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.text-data{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-data > input{
  margin-top: 10px;
  width: 400px;

}
.bloque-imagenes-rompecabeza{
  /* background-color: chartreuse; */
  display: flex;
  flex-direction: column;
}

.reproductor-movimiento{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: olivedrab; */
  padding: 0px;
  margin: 0px;
}
.tiempo-rompe{
  color: #fff;
}



.contenedor-rompecabeza-item{
  /* background-color: orange; */
  display: flex;
  flex-direction: row;
}
.contenedor-rompecabeza-item > div{
  /* background-color: rgb(22, 108, 189); */
  margin: 5px;
}
.cuadros-imagen{
  /* background-color: aqua; */
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.cuadros-imagen > div{
  /* background-color: pink; */
  
}

.titulo-r{
  color: #fff;
  padding: 5px 0px;
  background-color: rgba(10, 10, 10, 0.37);
}


@media screen and (max-width:480px) {
  .reproductor-movimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: olivedrab; */
    padding: 0px;
    margin: 0px;
  }
  .contenedor-rompecabeza-item{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cuadros-imagen{
    /* background-color: aqua; */
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
  .text-data > input{
    margin-top: 10px;
    width: 350px;
  
  }
  .cuadros-imagen > div{
    /* background-color: pink; */
    margin-top: 0px;
  }
  
.container-rompecabezas{
  
  height: auto;
}
}