

.container-sonidos {
    position: relative;
    height: 100vh;
    z-index: 1; /* Asegura que el contenido esté sobre la capa transparente */
}

.container-sonidos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/FondoProfesionales/f10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    opacity: 0.8; /* Ajusta la transparencia aquí */
    z-index: -1; /* Envía la capa detrás del contenido */
}
#pretitulosonido{
    font-size: 45px;
}
.textosonidos{
    color: #fff;
    text-shadow: 1px 1px 5px #161515f3;
}
.pre-texto{
    font-size: 30px;
}

@media screen and (max-width:480px) {
    
    .pre-texto{
        font-size: 25px;
    }
    #pretitulosonido{
        font-size: 35px;
    }
    
}